@charset "utf-8";
/* CSS Document */
/***
 */
*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
/* img{border:0;} */
/* dl,dt,dd,span{margin:0;padding:0;display:block;} */
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
/* table{border-collapse:collapse;border-spacing: 0;} */
/* cite{font-style:normal;} */
/* h2{font-weight:normal;} */


.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.place ul {margin-bottom:0px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}

.formbody{padding:10px 10px;}

/*seachform */
.tabson {  margin: 18px 0px; }
.seachform{ height:15px;}
.seachform li{float:left; margin-right:15px;}
.seachform li label{padding-right:10px; float:left; line-height:32px;}
.scinput{width:150px; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.scbtn{width:85px;height:35px; background:url(../images/btnbg.png) no-repeat center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; behavior:url(js/pie.htc);}

.bar {    height: 35px; margin-bottom: 10px; margin-left: 10px;}
.bar ul{height: 35px;}
.bar li {float:left;margin-right:10px;}
.wrap{width: 100%; clear: both;margin:0 10px 0 10px;}